:root {
    --lr-margin: 24px;
    --bg-main: #1B2330;
    --cta-bg: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    --testimonials-bg-color: hsl(219, 30%, 18%);
    --footer-bg: hsl(216, 53%, 9%);
    --link-color: hsl(176, 68%, 64%);
    --error-color: hsl(0, 100%, 63%);
}

/* breakpoint productive 880px */
/* breakpoint 600px */

/* ### Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

### Accent

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%)

### Neutral

- White: hsl(0, 0%, 100%) */

html {
    font-size: 14px;
}

body {
    margin: 0;

    background-color: var(--bg-main);
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}


p,
h1,
h2,
h3 {
    margin: 0;
}


/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--lr-margin);
    padding-bottom: 48px;

    background-color: var(--testimonials-bg-color);
}

.navbar-logo {
    position: relative;
    height: 24px;
    aspect-ratio: 80 / 24;
}

.navbar-logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: calc((24/375) * 100vw);
    list-style-type: none;
}

.navbar-nav-item .link {
    color: #fff;
    text-decoration: none;
}

@media all and (min-width: 800px) {
    :root {
        --lr-margin: 80px;
        --bg-main: hsl(218, 28%, 13%);
        --cta-bg: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        --testimonials-bg-color: hsl(219, 30%, 18%);
        --footer-bg: hsl(216, 53%, 9%);
    }

    .navbar {
        gap: calc((57/ 1440) * 100vw);
        padding-top: 73px;
        padding-bottom: 75px;
    }

    .navbar-logo {
        height: 52px;
    }

    .navbar-nav-item{
        position: relative;
    }


    .navbar-nav-item .link {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        transition: font-weight 200ms;
    }


    .navbar-nav-item::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 200ms;

    }

    .navbar-nav-item .link::after {
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        font-weight: 700;
    }

    .navbar-nav-item .link:hover {
        font-weight: 700;
        cursor: pointer;
    }

    .navbar-nav-item:hover::after{
transform: scaleX(1);
    }

}

.container-header {
    margin: 0 var(--lr-margin);
}


.header {
    background-image: url("./images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--testimonials-bg-color);
}

.image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 304/225;
}

.image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.header {
    text-align: center;
    margin-bottom: 120px;

}

.header-main .title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.7rem;
}

.header-main .description {
    margin: 0;
}

.header-main {
    margin-top: 33px;
    margin-bottom: 32px;
}

.btn {
    position: relative;
    width: 240px;
    height: 48px;
    color: #fff;
    background: var(--cta-bg);
    border-radius: 24px;
    border: none;
    /* transition: all 800ms ; */
}

/* .btn::after{

} */

.btn:hover {
    cursor: pointer;
    background: #8ADAE3;
}


@media all and (min-width: 376px){
    .header {
        background-image: url("./images/bg-curvy-desktop.svg");
        /* padding-bottom: 158px; */
    }

    .btn{
        height: 56px;
        width: 280px;
        font-size: 16px;
    }
}




@media all and (min-width: 800px) {

    .container-header {
        width: calc((720/1440) * 100vw);
        max-width: 720px;
        margin: 0 auto;
    }

    .header {
        background-image: url("./images/bg-curvy-desktop.svg");
        padding-bottom: 158px;
    }

    .image-wrapper {
        width: 100%;
    }

    .header-main .title {
        font-size: calc((40/1440) * 100vw);
    }

    .header-main .description {
        width: calc((589/1440) * 100vw);
        max-width: 589px;
        margin: 0 auto;
        font-size: calc((20/1440) * 100vw);
    }

}




.section {
    position: relative;
    margin: 0 var(--lr-margin);
    margin-bottom: 160px;
}



.container {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}


.card {
    width: 100%;
    text-align: center;
}

.card-header .title {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.card-footer .description {
    margin: 0;
}

@media all and (min-width: 800px) {

    .section-features {
        margin-bottom: 137px;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: calc((880 / 1440) * 100vw);
        min-width: 450px;
        margin: 0 auto;
    }

    .card {
        width: calc((349 / 1440) * 100vw);
        min-width: 180px;
    }
}

/* .section-productive{

} */


.section-productive .title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
}

.section-productive .description {
    margin-bottom: 16px;
}

.section-productive .link {
    color: var(--link-color);
}

.section-productive .link:hover{
    cursor: pointer;
  color: #fff;
}

.arrow{
    fill: #62E0D9;
    transform: translateX(0);
    transition: all 300ms;
}

.section-productive .link:hover .arrow{
    fill: #fff;
    transform: translateX(10px);
  }

.section-productive .container {
    row-gap: 46px;
}

.section-productive .image-wrapper {
    width: 100%;
    /* height: calc((229 / 375) * 100vw); */
    aspect-ratio: 304/229;
}



/* .arrow {
    --arrow: url('./images/icon-arrow.svg');
    Chrome, still requires prefix in 2022
    -webkit-mask: var(--arrow);

    Firefox and Safari
    mask: var(--arrow);

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.arrow {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;

    Hide button caption text
    overflow: hidden;
    color: transparent;

    The fill animation
    background-color: #fff;
    transition: background-color 0.2s;
} */


@media all and (min-width: 800px) {
    .section-productive .image-wrapper {
        width: calc((615/ 1440) * 100vw);
        /* margin-bottom: 120px; */

        aspect-ratio: 615/464;
    }

    .section-productive{
        margin-bottom: 120px;
    }


    /* .section-productive .section-header{
        /* width:calc((506/1440) * 100vw) ; */
        /* width: 506px; */
    

    .section-productive .title{
        font-size: calc((40 / 1440 ) * 100vw);
        font-size: 40px;
        text-align: left;
    }

    .section-productive .container {
        width: 100%;
    }

    .section-productive .section-main {
        width: calc((563/1440) * 100vw);
    }
}




.section-testimonials .container {
    gap: 24px;
}

.quote {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.testimonial {
    margin: 0 24px;
    padding: 24px 20px 21px 20px;
    background-color: var(--testimonials-bg-color);
}

.pic-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
}

.pic-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content {
    margin-bottom: 17px;
    font-size: 10px;
    line-height: 18px;
}

.name {
    margin-bottom: 4px;
    font-size: 10px;
}

.occupation {
    font-size: 7px;
}

@media all and (min-width: 900px) {

    .section-testimonials {
        margin-bottom: 201px;
    }

    .section-testimonials .section-header {
        position: absolute;
        left: -10px;
        top: -40px;
    }

    .quote {
        height: 50px;
        width: 50px;
        margin: 0;
    }


    .section-testimonials .container {
        justify-content: space-between;
        width: 100%;
        margin: 0;
        gap: calc((24/1440) / 100vw);
        gap: 0;
    }


    .testimonial {
        width: calc((310 / 1440) * 100vw);
        /* max-width: 360px; */
        margin: 0;
        padding: 40px 24px 26px 26px;
        z-index: 10;
    }

    .content {
        font-size: 1rem;
        margin-bottom: 24px;
    }
}

.section-contact {
    position: relative;
    margin-bottom: 0;
    margin: 0;
    text-align: center;
}


.form-wrapper {
    margin: 0 var(--lr-margin);
    padding: 40px 28px 37px 28px;
    background-color: var(--testimonials-bg-color);
    border-radius: 9px;
    z-index: 100;
}


.section-contact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-color: var(--footer-bg);
    z-index: -1;
}

.section-contact .title {
    font-size: 18px;
    margin-bottom: 16px;
}

.section-contact .section-footer {
    width: 100%;
}

.email-input {
    width: calc(100% - 2rem);
    height: 48px;
    padding: 0;
    padding-left: 2rem;
    border-radius: 24px;
    border: none;

}

.btn.btn-submit {
    width: 100%;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 32px;
}

.error-msg{
    position: absolute;
    visibility: hidden;
    color: var(--error-color) ;
    bottom: -15px;
    left: 2rem;
}

.visible{
    visibility: visible;
}

@media all and (min-width: 800px) {

    .form-wrapper {
        width: calc((709/1440) * 100vw);
        padding: 42px 77px 41px 77px;
        margin: 0 auto;
        font-size: 10px;
    }

    .section-contact .title {
        font-size: 32px;
    }

    .form {
        flex-direction: row;
        gap: 2rem;
    }

    .btn.btn-submit {
        width: 200px;
        height: 48px;
        font-size: 1rem;
    }
}


.footer {
    background-color: var(--footer-bg);
    padding: 0 2rem;
    padding-bottom: 4rem;
    padding-top: 83px;

}

.footer .container {
    margin: 0;
}

.footer .image-wrapper {
    width: 108px;
    aspect-ratio: 108/31;
    margin-bottom: 35px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 4rem;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;
}

.info img {
    height: 1rem;
    width: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.nav-footer {
    display: flex;
    flex-direction: column;
}

.footer .navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    margin-bottom: 48.5px;
    padding: 0;
    list-style-type: none;
}

.navigation-item .link {
    color: #fff;
    text-decoration: none;
}


.navigation-item .link::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    font-weight: 700;
}

.navigation .navigation-item .link:hover {
    font-weight: 700;
}


.sns {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}



.link-fb {
    --svg-fb: url('./images/fb.svg');

    /* Chrome, still requires prefix in 2022 */
    -webkit-mask: var(--svg-fb);

    /* Firefox and Safari */
    mask: var(--svg-fb);

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.link-twitter {
    --svg-twitter: url('./images/twitterl.svg');
    /* Chrome, still requires prefix in 2022 */
    -webkit-mask: var(--svg-twitter);

    /* Firefox and Safari */
    mask: var(--svg-twitter);

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.link-ig {
    --svg-ig: url('./images/IG.svg');
    /* Chrome, still requires prefix in 2022 */
    -webkit-mask: var(--svg-ig);

    /* Firefox and Safari */
    mask: var(--svg-ig);

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.sns-item .link {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;

    /* Hide button caption text */
    overflow: hidden;
    color: transparent;

    /* The fill animation */
    background-color: #fff;
    transition: background-color 0.2s;
}


.sns-item .link:hover {
    background-color: #8ADAE3;
}




@media all and (min-width: 677px) {

    /* .footer-header{
        width: calc((630/1440) * 100vw);
    } */

    .footer-header .info {
        width: calc((379/1440) * 100vw);
        /* min-width: 200px; */
    }

    .footer-header .contact{
        width: 180px;
    }

    .navigation-item .link{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-weight: 16px;
    }
    /* .footer-header .address{
        min-width: 200px;
    } */

   
    .footer {
        padding: 0 calc((120 / 1440) * 100vw);
        padding-top: 53px;
    }

    .footer .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        margin: 0;
        flex-wrap: wrap;
        /* gap:calc((146/1440) * 100vw) */

    }

    .footer-header {
        flex-direction: row;
        gap: calc((80 / 1440) * 100vw);
    }

    .nav-footer {
        flex-direction: row;
        gap: calc((80 / 1440) * 100vw);
    }

    .footer-footer {
        margin-left: auto;
    }

    .footer-footer{
        margin: 0 auto;
    }
/* 
    .sns{
        width: 100%;
        justify-content: center;
    } */
}

@media all and (min-width: 895px) {
    .contact {
        padding-right:calc((146/1440) * 100vw)

    }
}



@media all and (min-width: 1218px) {
    .footer-footer {
        margin: 0;
        margin-left: auto;
    }
}


.attribution{
    /* text-align: center; */
  width: 100%;
  text-align: center;
}